<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Kinfolk vol.11</string>
		<key>image</key>
		<string>xinpin15</string>
		<key>index</key>
		<string>15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kinfolk vol.10</string>
		<key>image</key>
		<string>xinpin16</string>
		<key>index</key>
		<string>16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kinfolk vol.8</string>
		<key>image</key>
		<string>xinpin17</string>
		<key>index</key>
		<string>17</string>
	</dict>
</array>
</plist>
